USE [student_management]
GO
/****** Object:  Schema [login]    Script Date: 02-04-2026 09:48:06 ******/
CREATE SCHEMA [login]
GO
/****** Object:  Schema [lookup]    Script Date: 02-04-2026 09:48:06 ******/
CREATE SCHEMA [lookup]
GO
/****** Object:  Schema [studentmanagement]    Script Date: 02-04-2026 09:48:06 ******/
CREATE SCHEMA [studentmanagement]
GO
/****** Object:  Table [login].[Master_Login]    Script Date: 02-04-2026 09:48:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [login].[Master_Login](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[usertype] [varchar](30) NOT NULL,
	[password] [varchar](20) NOT NULL,
	[isactive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [lookup].[studentmanagement_courses]    Script Date: 02-04-2026 09:48:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [lookup].[studentmanagement_courses](
	[courseid] [int] IDENTITY(1,1) NOT NULL,
	[coursename] [varchar](40) NULL,
	[isactive] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [lookup].[studentmanagement_departments]    Script Date: 02-04-2026 09:48:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [lookup].[studentmanagement_departments](
	[courseid] [int] NULL,
	[departmentname] [varchar](50) NULL,
	[departmentid] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [studentmanagement].[academic_details]    Script Date: 02-04-2026 09:48:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [studentmanagement].[academic_details](
	[regno] [varchar](30) NULL,
	[courseorprogram] [varchar](30) NULL,
	[Department] [varchar](30) NULL,
	[Year] [varchar](30) NULL,
	[Semester] [varchar](30) NULL,
	[Section] [varchar](30) NULL,
	[RollNo] [varchar](30) NULL,
	[AdmissionDate] [varchar](30) NULL,
	[AdmissionType] [varchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [studentmanagement].[contactdetails]    Script Date: 02-04-2026 09:48:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [studentmanagement].[contactdetails](
	[regno] [varchar](30) NULL,
	[mobileno] [varchar](30) NULL,
	[AlternateMobile] [varchar](30) NULL,
	[Emailaddress] [varchar](30) NULL,
	[AddressLine1] [varchar](30) NULL,
	[AddressLine2] [varchar](30) NULL,
	[City] [varchar](30) NULL,
	[State] [varchar](30) NULL,
	[Country] [varchar](30) NULL,
	[PostalCode] [varchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [studentmanagement].[identificationdetails]    Script Date: 02-04-2026 09:48:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [studentmanagement].[identificationdetails](
	[AadhaarNumber] [varchar](15) NULL,
	[PassportNumber] [varchar](20) NULL,
	[GovtIDType] [varchar](30) NULL,
	[GovtIDNumber] [varchar](20) NULL,
	[sslcSchool] [varchar](30) NULL,
	[sslcBoard] [varchar](30) NULL,
	[sslcYearofPassing] [varchar](30) NULL,
	[sslcPercentageporCGPA] [varchar](30) NULL,
	[hscSchool] [varchar](30) NULL,
	[hscBoard] [varchar](30) NULL,
	[hscYearofPassing] [varchar](30) NULL,
	[hscPercentageporCGPA] [varchar](30) NULL,
	[PreviousDegree] [varchar](30) NULL,
	[PreviousDepartment] [varchar](30) NULL,
	[PreviousInstitution] [varchar](30) NULL,
	[PreviousUniversity] [varchar](30) NULL,
	[PreviousYearofPassing] [varchar](30) NULL,
	[PreviousPercentageorCGPA] [varchar](30) NULL,
	[regno] [varchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [studentmanagement].[master]    Script Date: 02-04-2026 09:48:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [studentmanagement].[master](
	[regno] [varchar](30) NULL,
	[isactive] [bit] NULL,
	[createdon] [varchar](40) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [studentmanagement].[parentDetails]    Script Date: 02-04-2026 09:48:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [studentmanagement].[parentDetails](
	[regno] [varchar](30) NULL,
	[FatherName] [varchar](30) NULL,
	[FathersMobilenumber] [varchar](15) NULL,
	[MothersName] [varchar](30) NULL,
	[MothersMobile] [varchar](15) NULL,
	[GuardianName] [varchar](30) NULL,
	[GuardianPhone] [varchar](15) NULL,
	[Relationship] [varchar](25) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [studentmanagement].[personalinfo]    Script Date: 02-04-2026 09:48:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [studentmanagement].[personalinfo](
	[regno] [varchar](30) NULL,
	[FirstName] [varchar](30) NULL,
	[MiddleName] [varchar](30) NULL,
	[LastName] [varchar](30) NULL,
	[Gender] [varchar](10) NULL,
	[DateofBirth] [varchar](25) NULL,
	[Age] [int] NULL,
	[BloodGroup] [varchar](7) NULL,
	[Nationality] [varchar](20) NULL,
	[CategoryorCommunity] [varchar](30) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [login].[Master_Login] ON 

INSERT [login].[Master_Login] ([id], [username], [usertype], [password], [isactive]) VALUES (1, N'admin', N'admin', N'admin@123', 1)
SET IDENTITY_INSERT [login].[Master_Login] OFF
GO
SET IDENTITY_INSERT [lookup].[studentmanagement_courses] ON 

INSERT [lookup].[studentmanagement_courses] ([courseid], [coursename], [isactive]) VALUES (1, N'B.E', 1)
INSERT [lookup].[studentmanagement_courses] ([courseid], [coursename], [isactive]) VALUES (2, N'B.Sc', 1)
INSERT [lookup].[studentmanagement_courses] ([courseid], [coursename], [isactive]) VALUES (3, N'BCA', 1)
SET IDENTITY_INSERT [lookup].[studentmanagement_courses] OFF
GO
INSERT [lookup].[studentmanagement_departments] ([courseid], [departmentname], [departmentid]) VALUES (1, N'CSE', 1)
INSERT [lookup].[studentmanagement_departments] ([courseid], [departmentname], [departmentid]) VALUES (1, N'ECE', 2)
INSERT [lookup].[studentmanagement_departments] ([courseid], [departmentname], [departmentid]) VALUES (1, N'EEE', 3)
GO
INSERT [studentmanagement].[academic_details] ([regno], [courseorprogram], [Department], [Year], [Semester], [Section], [RollNo], [AdmissionDate], [AdmissionType]) VALUES (N'SJCET1422', N'B.E', N'CSE', N'1st Year', N'Sem 1', N'', N'14', N'2026-03-08', N'Regular')
INSERT [studentmanagement].[academic_details] ([regno], [courseorprogram], [Department], [Year], [Semester], [Section], [RollNo], [AdmissionDate], [AdmissionType]) VALUES (N'123456', N'B.E', N'IT', N'2nd Year', N'Sem 5', N'B', N'545432', N'2026-04-04', N'Regular')
GO
INSERT [studentmanagement].[contactdetails] ([regno], [mobileno], [AlternateMobile], [Emailaddress], [AddressLine1], [AddressLine2], [City], [State], [Country], [PostalCode]) VALUES (N'SJCET1422', N'8925207452', N'', N'', N'Middle Street Pappanadu', N'', N'Thanjavur', N'Tamil Nadu', N'India', N'613001')
INSERT [studentmanagement].[contactdetails] ([regno], [mobileno], [AlternateMobile], [Emailaddress], [AddressLine1], [AddressLine2], [City], [State], [Country], [PostalCode]) VALUES (N'123456', N'8922897890', N'', N'', N'no1 chennai land', N'', N'Chennai', N'Tamil Nadu', N'India', N'613001')
GO
INSERT [studentmanagement].[identificationdetails] ([AadhaarNumber], [PassportNumber], [GovtIDType], [GovtIDNumber], [sslcSchool], [sslcBoard], [sslcYearofPassing], [sslcPercentageporCGPA], [hscSchool], [hscBoard], [hscYearofPassing], [hscPercentageporCGPA], [PreviousDegree], [PreviousDepartment], [PreviousInstitution], [PreviousUniversity], [PreviousYearofPassing], [PreviousPercentageorCGPA], [regno]) VALUES (N'', N'', N'', N'', N'GHSS', N'STATTE BOARD', N'2023', N'85', N'BHSS', N'CBSE', N'2021', N'90', N'', N'', N'', N'', N'', N'', N'SJCET1422')
INSERT [studentmanagement].[identificationdetails] ([AadhaarNumber], [PassportNumber], [GovtIDType], [GovtIDNumber], [sslcSchool], [sslcBoard], [sslcYearofPassing], [sslcPercentageporCGPA], [hscSchool], [hscBoard], [hscYearofPassing], [hscPercentageporCGPA], [PreviousDegree], [PreviousDepartment], [PreviousInstitution], [PreviousUniversity], [PreviousYearofPassing], [PreviousPercentageorCGPA], [regno]) VALUES (N'', N'', N'', N'', N'test', N'GPT', N'test2', N'85', N'mma', N'Tamilnadu', N'2012', N'89', N'', N'', N'', N'', N'', N'', N'123456')
GO
INSERT [studentmanagement].[master] ([regno], [isactive], [createdon]) VALUES (N'SJCET1422', 1, N'31-03-2026')
INSERT [studentmanagement].[master] ([regno], [isactive], [createdon]) VALUES (N'123456', 1, N'31-03-2026')
GO
INSERT [studentmanagement].[parentDetails] ([regno], [FatherName], [FathersMobilenumber], [MothersName], [MothersMobile], [GuardianName], [GuardianPhone], [Relationship]) VALUES (N'SJCET1422', N'Rajendran', N'', N'Subbulakshmi', N'', N'', N'', N'')
INSERT [studentmanagement].[parentDetails] ([regno], [FatherName], [FathersMobilenumber], [MothersName], [MothersMobile], [GuardianName], [GuardianPhone], [Relationship]) VALUES (N'123456', N'donald', N'789378991', N'jency', N'', N'', N'', N'')
GO
INSERT [studentmanagement].[personalinfo] ([regno], [FirstName], [MiddleName], [LastName], [Gender], [DateofBirth], [Age], [BloodGroup], [Nationality], [CategoryorCommunity]) VALUES (N'SJCET1422', N'agalya', N'', N'murugantham', N'Male', N'2004-09-26', 21, N'B+', N'Indian', N'General')
INSERT [studentmanagement].[personalinfo] ([regno], [FirstName], [MiddleName], [LastName], [Gender], [DateofBirth], [Age], [BloodGroup], [Nationality], [CategoryorCommunity]) VALUES (N'123456', N'Johnn', N'', N'Patric', N'Male', N'2000-01-01', 26, N'A+', N'Indian', N'OBC')
GO
ALTER TABLE [login].[Master_Login] ADD  DEFAULT ((1)) FOR [isactive]
GO
/****** Object:  StoredProcedure [login].[isUserExist]    Script Date: 02-04-2026 09:48:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [login].[isUserExist]
@username varchar(40),
@usertype  varchar (10),
@password varchar (40),
@result int output
as
begin
if exists(select * from [login].[Master_Login] where username =@username and usertype=@usertype and password =@password and isactive=1)
	set @result=1;
else
	set @result=0;
end;
GO
/****** Object:  StoredProcedure [lookup].[studentmanagement_getcourses]    Script Date: 02-04-2026 09:48:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [lookup].[studentmanagement_getcourses]
as
begin
select courseid,coursename from [lookup].[studentmanagement_courses]
where isactive=1;
end
GO
/****** Object:  StoredProcedure [lookup].[studentmanagement_getDepartmentds]    Script Date: 02-04-2026 09:48:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [lookup].[studentmanagement_getDepartmentds]
@courseid int
as
begin
select departmentname,departmentid from [lookup].[studentmanagement_departments]
where courseid=@courseid
end;
GO
/****** Object:  StoredProcedure [studentmanagement].[getcountnewmonth]    Script Date: 02-04-2026 09:48:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [studentmanagement].[getcountnewmonth]
as
begin
SELECT COUNT(*) AS student_count
FROM [studentmanagement].[master]
WHERE isactive = 1
  AND MONTH(CONVERT(datetime, createdon, 105)) = MONTH(GETDATE())
  AND YEAR(CONVERT(datetime, createdon, 105)) = YEAR(GETDATE())
end
GO
/****** Object:  StoredProcedure [studentmanagement].[getStudentDetails]    Script Date: 02-04-2026 09:48:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [studentmanagement].[getStudentDetails]
as
begin
select 
M.regno,M.isactive,
P.firstname ,P.MiddleName,P.LastName,P.Gender,P.DateofBirth,P.Age,P.BloodGroup,P.Nationality,P.CategoryorCommunity,
C.mobileno,C.AlternateMobile,C.Emailaddress,C.AddressLine1,C.AddressLine2,C.City,C.State,C.Country,C.PostalCode,
PA.FatherName,PA.FathersMobilenumber,PA.MothersName,PA.MothersMobile,PA.GuardianName,PA.GuardianPhone,PA.Relationship,
A.courseorprogram,A.Department,A.Year,A.Semester,A.Section,A.RollNo,A.AdmissionDate,A.AdmissionType,

I.AadhaarNumber,I.PassportNumber,I.GovtIDType,I.GovtIDNumber,
I.sslcSchool,I.sslcBoard,I.sslcYearofPassing,I.sslcPercentageporCGPA,
I.hscSchool,I.hscBoard,I.hscYearofPassing,I.hscPercentageporCGPA,
I.PreviousDegree,I.PreviousDepartment,I.PreviousInstitution,I.PreviousUniversity,I.PreviousYearofPassing,I.PreviousPercentageorCGPA
from [studentmanagement].[master] M 
inner join [studentmanagement].[personalinfo]          P  on M.regno=P.regno
inner join [studentmanagement].[contactdetails]        C  on M.regno=C.regno
inner join [studentmanagement].[parentDetails]         PA on M.regno=PA.regno
inner join [studentmanagement].[academic_details]      A  on M.regno=A.regno
inner join [studentmanagement].[identificationdetails] I  on M.regno=I.regno
where M.isactive='1'

end;
GO
/****** Object:  StoredProcedure [studentmanagement].[getTotalActiveStudents]    Script Date: 02-04-2026 09:48:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [studentmanagement].[getTotalActiveStudents]
as
begin
select count(*) from [studentmanagement].[master]
where isactive=1;
end
GO
/****** Object:  StoredProcedure [studentmanagement].[getTotalBoysorGirlsCount]    Script Date: 02-04-2026 09:48:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [studentmanagement].[getTotalBoysorGirlsCount]
as
begin
SELECT 
        SUM(CASE WHEN Gender = 'Male'   THEN 1 ELSE 0 END) AS Boyscount,
        SUM(CASE WHEN Gender = 'Female' THEN 1 ELSE 0 END) AS Girlscount
    FROM [studentmanagement].[personalinfo]
end
GO
/****** Object:  StoredProcedure [studentmanagement].[getTotalStudents]    Script Date: 02-04-2026 09:48:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [studentmanagement].[getTotalStudents]
as
begin
select count(*)from [studentmanagement].[master]
end;
GO
/****** Object:  StoredProcedure [studentmanagement].[insertstudentrecord]    Script Date: 02-04-2026 09:48:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [studentmanagement].[insertstudentrecord]
/*PERSONAL INFO*/
@regno varchar(30),
@firstname varchar(30),
@MiddleName varchar(30)=null,
@lastname varchar(30),
@gender varchar(20),
@dateofbirth varchar(30),
@age int,
@bloodgroup varchar(10)=null,
@nationality varchar(20)=null,
@categoryorcommunity varchar(20)=null,
@createdon varchar(20)=null,
/*CONTACT INFO*/
@mobileno varchar(30),
@AlternateMobile varchar(30)=null,
@Emailaddress varchar(30)=null,
@AddressLine1 varchar(30),
@AddressLine2 varchar(30)=null,
@City varchar(20),
@State varchar(30),
@Country varchar(20)=null,
@PostalCode varchar(12)=null,
/*PARENT DETAILS*/
@FatherName varchar(30),
@FathersMobilenumber varchar(15)=null,
@MothersName varchar(30),
@MothersMobile varchar(15)=null,
@GuardianName varchar(30)=null,
@GuardianPhone varchar(15)=null,
@Relationship varchar(25)=null,
/*ACADEMIC DETAILS*/
@courseorprogram varchar(30),
@Department varchar(30),
@Year varchar(30),
@Semester varchar(30),
@Section varchar(30)=null,
@RollNo varchar(30)=null,
@AdmissionDate varchar(30),
@AdmissionType varchar(30),
/*IDENTIFICATION DETAILS*/
@AadhaarNumber varchar(15)=null,
@PassportNumber varchar(20)=null,
@GovtIDType varchar(30)=null,
@GovtIDNumber varchar(20)=null,
@sslcSchool varchar(30),
@sslcBoard varchar(30),
@sslcYearofPassing varchar(30),
@sslcPercentageporCGPA varchar(30),
@hscSchool varchar(30),
@hscBoard varchar(30),
@hscYearofPassing varchar(30),
@hscPercentageporCGPA varchar(30),
@PreviousDegree varchar(30)=null,
@PreviousDepartment varchar(30)=null,
@PreviousInstitution varchar(30)=null,
@PreviousUniversity varchar(30)=null,
@PreviousYearofPassing varchar(30)=null,
@PreviousPercentageorCGPA varchar(30)=null,
@result INT OUTPUT   -- add this at the end

AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY

        /*INSERTING INTO MASTER*/
        INSERT INTO [studentmanagement].[master](regno, isactive,createdon)
        VALUES(@regno, 1,@createdon)

        /*INSERTING INTO PERSONAL INFO*/
        INSERT INTO [studentmanagement].[personalinfo]
        (regno, FirstName, MiddleName, LastName, Gender, DateofBirth, Age, BloodGroup, Nationality, CategoryorCommunity)
        VALUES(@regno, @firstname, @MiddleName, @lastname, @gender, @dateofbirth, @age, @bloodgroup, @nationality, @categoryorcommunity)

        /*INSERTING INTO CONTACT INFO*/
        INSERT INTO [studentmanagement].[contactdetails]
        (regno, mobileno, AlternateMobile, Emailaddress, AddressLine1, AddressLine2, City, State, Country, PostalCode)
        VALUES(@regno, @mobileno, @AlternateMobile, @Emailaddress, @AddressLine1, @AddressLine2, @City, @State, @Country, @PostalCode)

        /*INSERTING INTO PARENT/GUARDIAN DETAILS*/
        INSERT INTO [studentmanagement].[parentDetails]
        (regno, FatherName, FathersMobilenumber, MothersName, MothersMobile, GuardianName, GuardianPhone, Relationship)
        VALUES(@regno, @FatherName, @FathersMobilenumber, @MothersName, @MothersMobile, @GuardianName, @GuardianPhone, @Relationship)

        /*INSERTING INTO ACADEMIC DETAILS*/
        INSERT INTO [studentmanagement].[academic_details]
        (regno, courseorprogram, Department, Year, Semester, Section, RollNo, AdmissionDate, AdmissionType)
        VALUES(@regno, @courseorprogram, @Department, @Year, @Semester, @Section, @RollNo, @AdmissionDate, @AdmissionType)

        /*INSERTING INTO IDENTIFICATION DETAILS*/
        INSERT INTO [studentmanagement].[identificationdetails]
        (AadhaarNumber, PassportNumber, GovtIDType, GovtIDNumber, sslcSchool, sslcBoard, sslcYearofPassing,
         sslcPercentageporCGPA, hscSchool, hscBoard, hscYearofPassing, hscPercentageporCGPA,
         PreviousDegree, PreviousDepartment, PreviousInstitution, PreviousUniversity,
         PreviousYearofPassing, PreviousPercentageorCGPA, regno)
        VALUES(@AadhaarNumber, @PassportNumber, @GovtIDType, @GovtIDNumber,
               @sslcSchool, @sslcBoard, @sslcYearofPassing, @sslcPercentageporCGPA,
               @hscSchool, @hscBoard, @hscYearofPassing, @hscPercentageporCGPA,
               @PreviousDegree, @PreviousDepartment, @PreviousInstitution, @PreviousUniversity,
               @PreviousYearofPassing, @PreviousPercentageorCGPA, @regno)

        COMMIT TRANSACTION;
			SET @result = 1  -- Success


    END TRY
    BEGIN CATCH

        ROLLBACK TRANSACTION;
		SET @result = 0  -- Success
        
    END CATCH

END
GO
/****** Object:  StoredProcedure [studentmanagement].[isregnouniqueornot]    Script Date: 02-04-2026 09:48:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [studentmanagement].[isregnouniqueornot]

@regno varchar(40)
as
BEGIN
    IF EXISTS (
        SELECT 1 
        FROM [student_management].[studentmanagement].[master] M
        WHERE M.regno = @regno
    )
        SELECT CAST(1 AS BIT) AS result   -- true
    ELSE
        SELECT CAST(0 AS BIT) AS result   -- false
end
GO
/****** Object:  StoredProcedure [studentmanagement].[makestudentinactive]    Script Date: 02-04-2026 09:48:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [studentmanagement].[makestudentinactive] 
@regno varchar(30)
as
begin

select * from [studentmanagement].[master]

update  [studentmanagement].[master]
set isactive=0
where regno  =@regno

end
GO
/****** Object:  StoredProcedure [studentmanagement].[updatestudentrecord]    Script Date: 02-04-2026 09:48:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [studentmanagement].[updatestudentrecord]
-- Only regno is mandatory to identify the student
@regno VARCHAR(30),

/*PERSONAL INFO*/
@firstname VARCHAR(30) = NULL,
@MiddleName VARCHAR(30) = NULL,
@lastname VARCHAR(30) = NULL,
@gender VARCHAR(20) = NULL,
@dateofbirth VARCHAR(30) = NULL,
@age INT = NULL,
@bloodgroup VARCHAR(10) = NULL,
@nationality VARCHAR(20) = NULL,
@categoryorcommunity VARCHAR(20) = NULL,

/*CONTACT INFO*/
@mobileno VARCHAR(30) = NULL,
@AlternateMobile VARCHAR(30) = NULL,
@Emailaddress VARCHAR(30) = NULL,
@AddressLine1 VARCHAR(30) = NULL,
@AddressLine2 VARCHAR(30) = NULL,
@City VARCHAR(20) = NULL,
@State VARCHAR(30) = NULL,
@Country VARCHAR(20) = NULL,
@PostalCode VARCHAR(12) = NULL,

/*PARENT DETAILS*/
@FatherName VARCHAR(30) = NULL,
@FathersMobilenumber VARCHAR(15) = NULL,
@MothersName VARCHAR(30) = NULL,
@MothersMobile VARCHAR(15) = NULL,
@GuardianName VARCHAR(30) = NULL,
@GuardianPhone VARCHAR(15) = NULL,
@Relationship VARCHAR(25) = NULL,

/*ACADEMIC DETAILS*/
@courseorprogram VARCHAR(30) = NULL,
@Department VARCHAR(30) = NULL,
@Year VARCHAR(30) = NULL,
@Semester VARCHAR(30) = NULL,
@Section VARCHAR(30) = NULL,
@RollNo VARCHAR(30) = NULL,
@AdmissionDate VARCHAR(30) = NULL,
@AdmissionType VARCHAR(30) = NULL,

/*IDENTIFICATION DETAILS*/
@AadhaarNumber VARCHAR(15) = NULL,
@PassportNumber VARCHAR(20) = NULL,
@GovtIDType VARCHAR(30) = NULL,
@GovtIDNumber VARCHAR(20) = NULL,
@sslcSchool VARCHAR(30) = NULL,
@sslcBoard VARCHAR(30) = NULL,
@sslcYearofPassing VARCHAR(30) = NULL,
@sslcPercentageporCGPA VARCHAR(30) = NULL,
@hscSchool VARCHAR(30) = NULL,
@hscBoard VARCHAR(30) = NULL,
@hscYearofPassing VARCHAR(30) = NULL,
@hscPercentageporCGPA VARCHAR(30) = NULL,
@PreviousDegree VARCHAR(30) = NULL,
@PreviousDepartment VARCHAR(30) = NULL,
@PreviousInstitution VARCHAR(30) = NULL,
@PreviousUniversity VARCHAR(30) = NULL,
@PreviousYearofPassing VARCHAR(30) = NULL,
@PreviousPercentageorCGPA VARCHAR(30) = NULL,

@result INT OUTPUT

AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY

        -- UPDATE PERSONAL INFO
        -- ISNULL(@newvalue, existingcolumn) → if param is NULL, keep the existing value
        UPDATE [studentmanagement].[personalinfo]
        SET
            FirstName            = ISNULL(@firstname,           FirstName),
            MiddleName           = ISNULL(@MiddleName,          MiddleName),
            LastName             = ISNULL(@lastname,            LastName),
            Gender               = ISNULL(@gender,             Gender),
            DateofBirth          = ISNULL(@dateofbirth,         DateofBirth),
            Age                  = ISNULL(@age,                 Age),
            BloodGroup           = ISNULL(@bloodgroup,          BloodGroup),
            Nationality          = ISNULL(@nationality,         Nationality),
            CategoryorCommunity  = ISNULL(@categoryorcommunity, CategoryorCommunity)
        WHERE regno = @regno

        -- UPDATE CONTACT INFO
        UPDATE [studentmanagement].[contactdetails]
        SET
            mobileno        = ISNULL(@mobileno,        mobileno),
            AlternateMobile = ISNULL(@AlternateMobile, AlternateMobile),
            Emailaddress    = ISNULL(@Emailaddress,    Emailaddress),
            AddressLine1    = ISNULL(@AddressLine1,    AddressLine1),
            AddressLine2    = ISNULL(@AddressLine2,    AddressLine2),
            City            = ISNULL(@City,            City),
            State           = ISNULL(@State,           State),
            Country         = ISNULL(@Country,         Country),
            PostalCode      = ISNULL(@PostalCode,       PostalCode)
        WHERE regno = @regno

        -- UPDATE PARENT DETAILS
        UPDATE [studentmanagement].[parentDetails]
        SET
            FatherName          = ISNULL(@FatherName,          FatherName),
            FathersMobilenumber = ISNULL(@FathersMobilenumber, FathersMobilenumber),
            MothersName         = ISNULL(@MothersName,         MothersName),
            MothersMobile       = ISNULL(@MothersMobile,       MothersMobile),
            GuardianName        = ISNULL(@GuardianName,        GuardianName),
            GuardianPhone       = ISNULL(@GuardianPhone,       GuardianPhone),
            Relationship        = ISNULL(@Relationship,        Relationship)
        WHERE regno = @regno

        -- UPDATE ACADEMIC DETAILS
        UPDATE [studentmanagement].[academic_details]
        SET
            courseorprogram = ISNULL(@courseorprogram, courseorprogram),
            Department      = ISNULL(@Department,      Department),
            Year            = ISNULL(@Year,            Year),
            Semester        = ISNULL(@Semester,        Semester),
            Section         = ISNULL(@Section,         Section),
            RollNo          = ISNULL(@RollNo,          RollNo),
            AdmissionDate   = ISNULL(@AdmissionDate,   AdmissionDate),
            AdmissionType   = ISNULL(@AdmissionType,   AdmissionType)
        WHERE regno = @regno

        -- UPDATE IDENTIFICATION DETAILS
        UPDATE [studentmanagement].[identificationdetails]
        SET
            AadhaarNumber          = ISNULL(@AadhaarNumber,          AadhaarNumber),
            PassportNumber         = ISNULL(@PassportNumber,         PassportNumber),
            GovtIDType             = ISNULL(@GovtIDType,             GovtIDType),
            GovtIDNumber           = ISNULL(@GovtIDNumber,           GovtIDNumber),
            sslcSchool             = ISNULL(@sslcSchool,             sslcSchool),
            sslcBoard              = ISNULL(@sslcBoard,              sslcBoard),
            sslcYearofPassing      = ISNULL(@sslcYearofPassing,      sslcYearofPassing),
            sslcPercentageporCGPA  = ISNULL(@sslcPercentageporCGPA,  sslcPercentageporCGPA),
            hscSchool              = ISNULL(@hscSchool,              hscSchool),
            hscBoard               = ISNULL(@hscBoard,               hscBoard),
            hscYearofPassing       = ISNULL(@hscYearofPassing,       hscYearofPassing),
            hscPercentageporCGPA   = ISNULL(@hscPercentageporCGPA,   hscPercentageporCGPA),
            PreviousDegree         = ISNULL(@PreviousDegree,         PreviousDegree),
            PreviousDepartment     = ISNULL(@PreviousDepartment,     PreviousDepartment),
            PreviousInstitution    = ISNULL(@PreviousInstitution,     PreviousInstitution),
            PreviousUniversity     = ISNULL(@PreviousUniversity,     PreviousUniversity),
            PreviousYearofPassing  = ISNULL(@PreviousYearofPassing,  PreviousYearofPassing),
            PreviousPercentageorCGPA = ISNULL(@PreviousPercentageorCGPA, PreviousPercentageorCGPA)
        WHERE regno = @regno

        COMMIT TRANSACTION;
        SET @result = 1  -- Success

    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SET @result = 0  -- Failure
    END CATCH

END
GO
