USE [master]
GO
/****** Object:  Database [student_management]    Script Date: 10-03-2026 18:19:17 ******/
CREATE DATABASE [student_management]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'student_management', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\student_management.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'student_management_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\student_management_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [student_management].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [student_management]
GO
/****** Object:  Schema [login]    Script Date: 10-03-2026 18:19:17 ******/
CREATE SCHEMA [login]
GO
/****** Object:  Schema [lookup]    Script Date: 10-03-2026 18:19:17 ******/
CREATE SCHEMA [lookup]
GO
/****** Object:  Schema [studentmanagement]    Script Date: 10-03-2026 18:19:17 ******/
CREATE SCHEMA [studentmanagement]
GO
/****** Object:  Table [login].[Master_Login]    Script Date: 10-03-2026 18:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [login].[Master_Login](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[usertype] [varchar](30) NOT NULL,
	[password] [varchar](20) NOT NULL,
	[isactive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [lookup].[studentmanagement_courses]    Script Date: 10-03-2026 18:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [lookup].[studentmanagement_courses](
	[courseid] [int] IDENTITY(1,1) NOT NULL,
	[coursename] [varchar](40) NULL,
	[isactive] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [lookup].[studentmanagement_departments]    Script Date: 10-03-2026 18:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [lookup].[studentmanagement_departments](
	[courseid] [int] NULL,
	[departmentname] [varchar](50) NULL,
	[departmentid] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [studentmanagement].[academic_details]    Script Date: 10-03-2026 18:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [studentmanagement].[academic_details](
	[regno] [varchar](30) NULL,
	[courseorprogram] [varchar](30) NULL,
	[Department] [varchar](30) NULL,
	[Year] [varchar](30) NULL,
	[Semester] [varchar](30) NULL,
	[Section] [varchar](30) NULL,
	[RollNo] [varchar](30) NULL,
	[AdmissionDate] [varchar](30) NULL,
	[AdmissionType] [varchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [studentmanagement].[contactdetails]    Script Date: 10-03-2026 18:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [studentmanagement].[contactdetails](
	[regno] [varchar](30) NULL,
	[mobileno] [varchar](30) NULL,
	[AlternateMobile] [varchar](30) NULL,
	[Emailaddress] [varchar](30) NULL,
	[AddressLine1] [varchar](30) NULL,
	[AddressLine2] [varchar](30) NULL,
	[City] [varchar](30) NULL,
	[State] [varchar](30) NULL,
	[Country] [varchar](30) NULL,
	[PostalCode] [varchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [studentmanagement].[identificationdetails]    Script Date: 10-03-2026 18:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [studentmanagement].[identificationdetails](
	[AadhaarNumber] [varchar](15) NULL,
	[PassportNumber] [varchar](20) NULL,
	[GovtIDType] [varchar](30) NULL,
	[GovtIDNumber] [varchar](20) NULL,
	[sslcSchool] [varchar](30) NULL,
	[sslcBoard] [varchar](30) NULL,
	[sslcYearofPassing] [varchar](30) NULL,
	[sslcPercentageporCGPA] [varchar](30) NULL,
	[hscSchool] [varchar](30) NULL,
	[hscBoard] [varchar](30) NULL,
	[hscYearofPassing] [varchar](30) NULL,
	[hscPercentageporCGPA] [varchar](30) NULL,
	[PreviousDegree] [varchar](30) NULL,
	[PreviousDepartment] [varchar](30) NULL,
	[PreviousInstitution] [varchar](30) NULL,
	[PreviousUniversity] [varchar](30) NULL,
	[PreviousYearofPassing] [varchar](30) NULL,
	[PreviousPercentageorCGPA] [varchar](30) NULL,
	[regno] [varchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [studentmanagement].[master]    Script Date: 10-03-2026 18:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [studentmanagement].[master](
	[regno] [varchar](30) NULL,
	[isactive] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [studentmanagement].[parentDetails]    Script Date: 10-03-2026 18:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [studentmanagement].[parentDetails](
	[regno] [varchar](30) NULL,
	[FatherName] [varchar](30) NULL,
	[FathersMobilenumber] [varchar](15) NULL,
	[MothersName] [varchar](30) NULL,
	[MothersMobile] [varchar](15) NULL,
	[GuardianName] [varchar](30) NULL,
	[GuardianPhone] [varchar](15) NULL,
	[Relationship] [varchar](25) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [studentmanagement].[personalinfo]    Script Date: 10-03-2026 18:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [studentmanagement].[personalinfo](
	[regno] [varchar](30) NULL,
	[FirstName] [varchar](30) NULL,
	[MiddleName] [varchar](30) NULL,
	[LastName] [varchar](30) NULL,
	[Gender] [varchar](10) NULL,
	[DateofBirth] [varchar](25) NULL,
	[Age] [int] NULL,
	[BloodGroup] [varchar](7) NULL,
	[Nationality] [varchar](20) NULL,
	[CategoryorCommunity] [varchar](30) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [login].[Master_Login] ON 

INSERT [login].[Master_Login] ([id], [username], [usertype], [password], [isactive]) VALUES (1, N'admin', N'admin', N'admin@123', 1)
SET IDENTITY_INSERT [login].[Master_Login] OFF
GO
SET IDENTITY_INSERT [lookup].[studentmanagement_courses] ON 

INSERT [lookup].[studentmanagement_courses] ([courseid], [coursename], [isactive]) VALUES (1, N'B.E', 1)
INSERT [lookup].[studentmanagement_courses] ([courseid], [coursename], [isactive]) VALUES (2, N'B.Sc', 1)
INSERT [lookup].[studentmanagement_courses] ([courseid], [coursename], [isactive]) VALUES (3, N'BCA', 1)
SET IDENTITY_INSERT [lookup].[studentmanagement_courses] OFF
GO
INSERT [lookup].[studentmanagement_departments] ([courseid], [departmentname], [departmentid]) VALUES (1, N'CSE', 1)
INSERT [lookup].[studentmanagement_departments] ([courseid], [departmentname], [departmentid]) VALUES (1, N'ECE', 2)
INSERT [lookup].[studentmanagement_departments] ([courseid], [departmentname], [departmentid]) VALUES (1, N'EEE', 3)
GO
INSERT [studentmanagement].[academic_details] ([regno], [courseorprogram], [Department], [Year], [Semester], [Section], [RollNo], [AdmissionDate], [AdmissionType]) VALUES (N'reg14', N'BE', N'Computer Science', N'1st Year', N'Sem 1', N'A', N'14', N'2026-02-27', N'Regular')
GO
INSERT [studentmanagement].[contactdetails] ([regno], [mobileno], [AlternateMobile], [Emailaddress], [AddressLine1], [AddressLine2], [City], [State], [Country], [PostalCode]) VALUES (N'reg14', N'8925207452', NULL, NULL, N'Solai Main road', NULL, N'Thanjavur', N'Tamilnadu', NULL, NULL)
GO
INSERT [studentmanagement].[identificationdetails] ([AadhaarNumber], [PassportNumber], [GovtIDType], [GovtIDNumber], [sslcSchool], [sslcBoard], [sslcYearofPassing], [sslcPercentageporCGPA], [hscSchool], [hscBoard], [hscYearofPassing], [hscPercentageporCGPA], [PreviousDegree], [PreviousDepartment], [PreviousInstitution], [PreviousUniversity], [PreviousYearofPassing], [PreviousPercentageorCGPA], [regno]) VALUES (NULL, NULL, NULL, NULL, N'ghss', N'State Board', N'2019', N'79', N'Bhss', N'State Board', N'2021', N'80', NULL, NULL, NULL, NULL, NULL, NULL, N'reg14')
GO
INSERT [studentmanagement].[master] ([regno], [isactive]) VALUES (N'reg14', 1)
GO
INSERT [studentmanagement].[parentDetails] ([regno], [FatherName], [FathersMobilenumber], [MothersName], [MothersMobile], [GuardianName], [GuardianPhone], [Relationship]) VALUES (N'reg14', N'Rajendran', NULL, N'Subbulakshmi', NULL, NULL, NULL, NULL)
GO
INSERT [studentmanagement].[personalinfo] ([regno], [FirstName], [MiddleName], [LastName], [Gender], [DateofBirth], [Age], [BloodGroup], [Nationality], [CategoryorCommunity]) VALUES (N'reg14', N'Ayyappan', NULL, N'Rajendran', N'Male', N'2004-09-26', 21, NULL, NULL, NULL)
GO
ALTER TABLE [login].[Master_Login] ADD  DEFAULT ((1)) FOR [isactive]
GO
/****** Object:  StoredProcedure [login].[isUserExist]    Script Date: 10-03-2026 18:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [login].[isUserExist]
@username varchar(40),
@usertype  varchar (10),
@password varchar (40),
@result int output
as
begin
if exists(select * from [login].[Master_Login] where username =@username and usertype=@usertype and password =@password and isactive=1)
	set @result=1;
else
	set @result=0;
end;
GO
/****** Object:  StoredProcedure [lookup].[studentmanagement_getcourses]    Script Date: 10-03-2026 18:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [lookup].[studentmanagement_getcourses]
as
begin
select courseid,coursename from [lookup].[studentmanagement_courses]
where isactive=1;
end
GO
/****** Object:  StoredProcedure [lookup].[studentmanagement_getDepartmentds]    Script Date: 10-03-2026 18:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [lookup].[studentmanagement_getDepartmentds]
@courseid int
as
begin
select departmentname,departmentid from [lookup].[studentmanagement_departments]
where courseid=@courseid
end;
GO
/****** Object:  StoredProcedure [studentmanagement].[insertstudentrecord]    Script Date: 10-03-2026 18:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [studentmanagement].[insertstudentrecord]
/*PERSONAL INFO*/
@regno varchar(30),
@firstname varchar(30),
@MiddleName varchar(30)=null,
@lastname varchar(30),
@gender varchar(20),
@dateofbirth varchar(30),
@age int,
@bloodgroup varchar(10)=null,
@nationality varchar(20)=null,
@categoryorcommunity varchar(20)=null,
/*CONTACT INFO*/
@mobileno varchar(30),
@AlternateMobile varchar(30)=null,
@Emailaddress varchar(30)=null,
@AddressLine1 varchar(30),
@AddressLine2 varchar(30)=null,
@City varchar(20),
@State varchar(30),
@Country varchar(20)=null,
@PostalCode varchar(12)=null,
/*PARENT DETAILS*/
@FatherName varchar(30),
@FathersMobilenumber varchar(15)=null,
@MothersName varchar(30),
@MothersMobile varchar(15)=null,
@GuardianName varchar(30)=null,
@GuardianPhone varchar(15)=null,
@Relationship varchar(25)=null,
/*ACADEMIC DETAILS*/
@courseorprogram varchar(30),
@Department varchar(30),
@Year varchar(30),
@Semester varchar(30),
@Section varchar(30)=null,
@RollNo varchar(30)=null,
@AdmissionDate varchar(30),
@AdmissionType varchar(30),
/*IDENTIFICATION DETAILS*/
@AadhaarNumber varchar(15)=null,
@PassportNumber varchar(20)=null,
@GovtIDType varchar(30)=null,
@GovtIDNumber varchar(20)=null,
@sslcSchool varchar(30),
@sslcBoard varchar(30),
@sslcYearofPassing varchar(30),
@sslcPercentageporCGPA varchar(30),
@hscSchool varchar(30),
@hscBoard varchar(30),
@hscYearofPassing varchar(30),
@hscPercentageporCGPA varchar(30),
@PreviousDegree varchar(30)=null,
@PreviousDepartment varchar(30)=null,
@PreviousInstitution varchar(30)=null,
@PreviousUniversity varchar(30)=null,
@PreviousYearofPassing varchar(30)=null,
@PreviousPercentageorCGPA varchar(30)=null,
@result INT OUTPUT   -- add this at the end

AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY

        /*INSERTING INTO MASTER*/
        INSERT INTO [studentmanagement].[master](regno, isactive)
        VALUES(@regno, 1)

        /*INSERTING INTO PERSONAL INFO*/
        INSERT INTO [studentmanagement].[personalinfo]
        (regno, FirstName, MiddleName, LastName, Gender, DateofBirth, Age, BloodGroup, Nationality, CategoryorCommunity)
        VALUES(@regno, @firstname, @MiddleName, @lastname, @gender, @dateofbirth, @age, @bloodgroup, @nationality, @categoryorcommunity)

        /*INSERTING INTO CONTACT INFO*/
        INSERT INTO [studentmanagement].[contactdetails]
        (regno, mobileno, AlternateMobile, Emailaddress, AddressLine1, AddressLine2, City, State, Country, PostalCode)
        VALUES(@regno, @mobileno, @AlternateMobile, @Emailaddress, @AddressLine1, @AddressLine2, @City, @State, @Country, @PostalCode)

        /*INSERTING INTO PARENT/GUARDIAN DETAILS*/
        INSERT INTO [studentmanagement].[parentDetails]
        (regno, FatherName, FathersMobilenumber, MothersName, MothersMobile, GuardianName, GuardianPhone, Relationship)
        VALUES(@regno, @FatherName, @FathersMobilenumber, @MothersName, @MothersMobile, @GuardianName, @GuardianPhone, @Relationship)

        /*INSERTING INTO ACADEMIC DETAILS*/
        INSERT INTO [studentmanagement].[academic_details]
        (regno, courseorprogram, Department, Year, Semester, Section, RollNo, AdmissionDate, AdmissionType)
        VALUES(@regno, @courseorprogram, @Department, @Year, @Semester, @Section, @RollNo, @AdmissionDate, @AdmissionType)

        /*INSERTING INTO IDENTIFICATION DETAILS*/
        INSERT INTO [studentmanagement].[identificationdetails]
        (AadhaarNumber, PassportNumber, GovtIDType, GovtIDNumber, sslcSchool, sslcBoard, sslcYearofPassing,
         sslcPercentageporCGPA, hscSchool, hscBoard, hscYearofPassing, hscPercentageporCGPA,
         PreviousDegree, PreviousDepartment, PreviousInstitution, PreviousUniversity,
         PreviousYearofPassing, PreviousPercentageorCGPA, regno)
        VALUES(@AadhaarNumber, @PassportNumber, @GovtIDType, @GovtIDNumber,
               @sslcSchool, @sslcBoard, @sslcYearofPassing, @sslcPercentageporCGPA,
               @hscSchool, @hscBoard, @hscYearofPassing, @hscPercentageporCGPA,
               @PreviousDegree, @PreviousDepartment, @PreviousInstitution, @PreviousUniversity,
               @PreviousYearofPassing, @PreviousPercentageorCGPA, @regno)

        COMMIT TRANSACTION;
			SET @result = 1  -- Success


    END TRY
    BEGIN CATCH

        ROLLBACK TRANSACTION;
		SET @result = 0  -- Success
        
    END CATCH

END
GO
USE [master]
GO
